.formulaire{
    font-family: 'Roboto light', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 36em;
    background-color: #42A5F4;
    border-radius: 5px;
    box-shadow: 0px 3px 20px black;
    margin : 0.5em auto 0 auto;
}
.titreForm{
    font-size: 2em;
    margin : 15px 0 15px 20px;
}
.motCle, .date, .departement {
    margin : 5px 10px 30px 15px;
    font-size: 1.5em;
}
.cle, .date1, .date2, .depart{
    height : auto;
    font-size : 0.9em;
    border: none;
    border-radius : 5px;
}
.cle{
    width : 75%;
}
.date1, .date2{
    width : 20%;
}

.depart{
    width : 25%;
}
.btnSub{
    text-align : center;
    margin : 0 0 15px 0;
}
.submit{
    width : 150px;
    height : 50px;
    font-size : 1.5em;
    border: none;
    border-radius : 5px;
    background-color: whitesmoke;
}
