#macarte {
    width: 100%;
}

.button {
    background:    #3d85c6;
    background:    -webkit-linear-gradient(#3d85c6, #073763);
    background:    linear-gradient(#3d85c6, #073763);
    border-radius: 5px;
    border: none;
    padding:       2px 12px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal 700 12px/1 "Calibri", sans-serif;
    text-align:    center;
    text-shadow:   2px 2px #000000;
}